/*******************************************
 * © 2019 Charlie Hay
 * ---------------------
 * Variable | Styles
 ******************************************/

/* Shades */
$white: #ffffff;
$lightestGray: #f5f5f5;
$lightGray: #c1c1c1;
$gray: #c1c8e4;
$darkGray: #444444;
$black: #222222;

/* Purple */
$darkestPurple: #6039a9;
$darkPurple: #7550c3;
$purple: #8860d0;
$lightPurple: #cea0ff;
$lightestPurple: #f7ecfc;

/* Blue */
$deepBlue: #5680e9;
$blue: #5ab9ea;
$skyBlue: #84ceeb;

/* Media Width */
$mobile: 500px;
$desktop: 780px;
