/*******************************************
 * © 2018 Charlie Hay
 * ---------------------
 * Countdown | Styles
 ******************************************/

@import '../../../../assets/styles/variable';
.countdown {
  font-family: countdown;
  font-size: 20px;
  width: 131px;
  font-weight: 500;
}
