/*******************************************
 * © 2018 Charlie Hay
 * ---------------------
 * Home | Styles
 ******************************************/

@import '../../../../assets/styles/variable';
.home {
  background: #e3e2dd;
  .message-center {
    flex-direction: column;
    & > * {
      &:first-child {
        flex: 1 0 50%;
      }
      &:last-child {
        flex: 0 0 50px;
      }
    }
  }
}
