/*******************************************
 * © 2018 Charlie Hay
 * ---------------------
 * Home | Styles
 ******************************************/

@import '../../../../assets/styles/variable';
.home {
  background: $grayPurple;
  .message-center {
    flex-direction: column;
    position: relative;
    & > * {
      &:nth-child(2) {
        flex: 1 0 50%;
      }
      &:last-child {
        flex: 0 0 50px;
      }
    }
  }
}
