/*******************************************
 * © 2018 Charlie Hay
 * ---------------------
 * Home | Styles
 ******************************************/

@import '../../../../assets/styles/variable';
.swiper {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;

  &__wrapper {
    width: 300%;
    height: 100%;
    background: yellowgreen;
  }

  &__child {
    width: calc(100% / 3);

    &.one {
      background: orange;
    }
    &.two {
      background: blueviolet;
    }
    &.three {
      background: yellowgreen;
    }
  }
}
