/*******************************************
 * © 2018 Charlie Hay
 * ---------------------
 * Bubble | Styles
 ******************************************/

@import '../../../../assets/styles/variable';
.bubble {
  display: block;
  padding: 0.2rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  max-width: 75%;

  .bubble__message {
    display: block;
    font-weight: 900;
    font-size: 14px;
  }

  .bubble__timestamp {
    display: block;
    font-size: 10px;
    color: $darkGray;
  }

  &.received {
    background: $purple;
    align-self: flex-start;

    .bubble__message {
      color: $white;
    }

    .bubble__timestamp {
      margin-top: 0.2rem;
      text-align: left;
      color: $darkGray;
    }
  }

  &.sent {
    background: $gray;
    align-self: flex-end;
    color: $black;

    .bubble__timestamp {
      text-align: right;
    }
  }
}
